<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.fanfan.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fanfan"
        android:label="@string/app_name"
        android:theme="@style/Theme.Fanfan_origin" >
        <activity
            android:name="cn.fanfan.welcome.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ShareSDK分享 -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="cn.fanfan.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="cn.fanfan.welcome.Login"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" >
        </activity>
        <activity android:name="cn.fanfan.welcome.Register" >
        </activity>
        <activity android:name="cn.fanfan.main.MainActivity" >
        </activity>
        <activity android:name="cn.fanfan.topic.TopicDetail" >
        </activity>
        <activity android:name="cn.fanfan.attentionuser.AttentionUser" >
        </activity>
        <activity android:name="cn.fanfan.userinfo.UserInfoActivity" >
        </activity>
        <activity
            android:name="cn.fanfan.userinfo.UserInfoEditActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity android:name="cn.fanfan.topic.TopicActivity" >
        </activity>

        <!-- 庞荣 -->
        <activity
            android:name="cn.fanfan.question.Question"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.fanfan.detilques.Detilques"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.fanfan.found.Found"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="cn.fanfan.question.EtAddImage" >
        </activity>
        <activity android:name="cn.fanfan.question.DDisplay" >
        </activity>
        <activity android:name="cn.fanfan.detilques.DetilEssay" >
        </activity>
        <activity android:name="cn.fanfan.detilques.Answer" >
        </activity>
        <activity android:name="cn.fanfan.detilques.ComList" >
        </activity>
        <activity
            android:name="cn.fanfan.detilques.WriteAnswer"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity android:name="cn.fanfan.topic.BestAnswers"></activity>
        <activity android:name="cn.fanfan.detilques.TopicAbout">
            
        </activity>
    </application>

</manifest>